<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>

<div id="navbar">
    <div>
        <a href="#" onclick="reload()">
            <img src="/images/logo.png" alt="company logo">
        </a>
    </div>
</div> 

<main>
    <div class="cards-container container flex" id="cards-container"></div>
</main>

<script>
    function reload() {
        window.location.reload();
    }

    const API_KEY = "33b7823ef7b84d3981408bc2f69ffb1f";
    const url = "https://newsapi.org/v2/everything?q=";

    window.addEventListener("load", () => fetchNews("Astronomy"));

    async function fetchNews(query) {
        try {
            const res = await fetch(`${url}${query}&apiKey=${API_KEY}`);
            const data = await res.json();

            if (data.articles && Array.isArray(data.articles)) {
                bindData(data.articles);
            } else {
                console.error("Invalid data format: articles is not an array or is undefined");
            }
        } catch (error) {
            console.error("Error fetching news:", error);
        }
    }

    function bindData(articles) {
        const cardsContainer = document.getElementById("cards-container");

        articles.forEach((article) => {
            if (!article.urlToImage) return;

            const card = document.createElement("div");
            card.className = "card";

            card.innerHTML = `
                <div class="card-header">
                    <img src="${article.urlToImage}" alt="news-image" id="news-img">
                </div>
                <div class="card-content">
                    <h3 id="news-title">${article.title}</h3>
                    <h6 class="news-source" id="news-source">${article.source.name} · ${new Date(article.publishedAt).toLocaleString("en-US", { timeZone: "Asia/Jakarta" })}</h6>
                    <p class="news-desc" id="news-desc">${article.description}</p>
                </div>
            `;

            cardsContainer.appendChild(card);
        });
    }
</script>

</body>
</html>
